.nav-item:hover .menuItem{
    background-color: #091e4224;
    border-radius: 5px;
    /* height: 2rem; */
}

.nav-item:active:hover .menuItem{
    background-color: #cce0ff;
    border-radius: 5px;
    /* height: 2rem; */
}
.btn{
    background-color: #007bff;
    border-radius: 4px;
}
.btn:hover{
    background-color: #0055CC;
    border-radius: 4px;
}